
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

.won-message{
    display: flex;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
}