
h1{
    text-align: center;
    color: white;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 525px;
    width: 525px;
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}